@charset "UTF-8";
/* 
em HTML é id = em CSS é # ( só pode um elemento)

em HTML é class = em CSS é . pode (pode varios elementos)
*/

body {
  background-color: rgba(210, 255, 240, 0.89);
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  color: rgb(20, 58, 45);
}
h1#principal {
  text-align: center;
}
h2 {
  color: rgb(2, 44, 78);
}
.basico {
  color: chartreuse;
}
.intermediario {
  color: coral;
}
.avancado {
  color: crimson;
}
.destaque {
  background-color: rgba(255, 255, 0, 0.753);
}